/* .Toastify__toast-container {
    width: 320px;
}

.Toastify__toast--default {
    background: #fff;
    color: #aaa;
}

.Toastify__toast--info {
    background: purple;
    background: #0BCAD4;
}

.Toastify__toast--success {
    background: #0BCAD4;
} */

.Toastify__progress-bar--info {
    /* background: #0BCAD4; */
    background: #1d4ed8;
}

/* .Toastify__toast--warning {
    background: yellow;
}

.Toastify__toast--error {
    background: red;
} */

:root {
    --toastify-toast-width: 28rem;
}